*.fasl
*.64xfasl
*.64ufasl
*~
var/local/include/gmp.h
var/local/include/pbc/pbc.h
var/local/include/pbc/pbc_a1_param.h
var/local/include/pbc/pbc_a_param.h
var/local/include/pbc/pbc_curve.h
var/local/include/pbc/pbc_d_param.h
var/local/include/pbc/pbc_e_param.h
var/local/include/pbc/pbc_f_param.h
var/local/include/pbc/pbc_field.h
var/local/include/pbc/pbc_fieldquadratic.h
var/local/include/pbc/pbc_fp.h
var/local/include/pbc/pbc_g_param.h
var/local/include/pbc/pbc_hilbert.h
var/local/include/pbc/pbc_i_param.h
var/local/include/pbc/pbc_memory.h
var/local/include/pbc/pbc_mnt.h
var/local/include/pbc/pbc_multiz.h
var/local/include/pbc/pbc_pairing.h
var/local/include/pbc/pbc_param.h
var/local/include/pbc/pbc_poly.h
var/local/include/pbc/pbc_random.h
var/local/include/pbc/pbc_singular.h
var/local/include/pbc/pbc_ternary_extension_field.h
var/local/include/pbc/pbc_test.h
var/local/include/pbc/pbc_utils.h
var/local/include/pbc/pbc_z.h
