*.fasl
*.64xfasl
*.64ufasl
*~
var/**
src/Crypto-writeup/Crypto-writeup.aux
src/Crypto-writeup/Crypto-writeup.log
src/Crypto-writeup/Crypto-writeup.out
src/Crypto-writeup/Crypto-writeup.synctex.gz
src/Crypto-writeup/Crypto-writeup.tex.orig
src/Crypto-writeup/Crypto-writeup.toc
src/Crypto-writeup/Partial-Yellowpaper.aux
src/Crypto-writeup/Partial-Yellowpaper.log
src/Crypto-writeup/Partial-Yellowpaper.pdf
src/Crypto-writeup/Partial-Yellowpaper.synctex.gz
scratch
